<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="logo">LMS</div>
        <nav>
            <a href="index.html" class="active">Home</a>
            <a href="course.html">Course</a>
            <a href="report.html">Report</a>
            <a href="portofolio.html">Portofolio</a>
            <div class="profile"><img src="image/profile.png" alt="Profile Picture"></div>
            
        </nav>
    </header>
    <main>
        <section class="welcome-section">
            <div class="container">
                <div class="row ">
                    <div class="col text-white">

                        <h1>Selamat Datang 👋</h1>
                        <h2>Killua Zoldyck</h2>
                        <a href="#" class="text-white">Pergi ke course saya →</a>
                    </div>
                    <div class="col ">

                        <img src="image/home-greeting-image.png" alt="Welcome Illustration">
                    </div>
                </div>
            </div>
        </section>
        <section class="courses-section">
            <h2>Courses</h2>
            <h3>TA 2023/2024 Semester Genap</h3>
            <div class="row">
                <div class="col-md-4">
                    <a href="detail-course.html">
                        <div class="course-card">
                            <div class="course-image">
                                <img src="image/pattern-course.png" alt="">
                            </div>
                            <h5>Manajemen Sosial Kelas X IPS</h5>
                            <div class="progress course-progress">
                                <div class="progress-bar" role="progressbar" style="width: 14%;">14% complete
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="detail-course.html">
                        <div class="course-card">
                            <div class="course-image">
                                <img src="image/pattern-course.png" alt="">
                            </div>
                            <h5>Manajemen Sosial Kelas X IPS</h5>
                            <div class="progress course-progress">
                                <div class="progress-bar" role="progressbar" style="width: 14%;">14% complete
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="detail-course.html">
                        <div class="course-card">
                            <div class="course-image">
                                <img src="image/pattern-course.png" alt="">
                            </div>
                            <h5>Manajemen Sosial Kelas X IPS</h5>
                            <div class="progress course-progress">
                                <div class="progress-bar" role="progressbar" style="width: 14%;">14% complete
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section class="recent-courses-section">
            <h2>Recently Accessed Courses</h2>
            <div class="recent-courses">
                <div class="recent-course-card">Pelatihan<br>Pelatihan ProTOEFL</div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-left">
            <div class="footer-logo">LMS</div>
            <p>E-LEARNING Fakultas Teknik & Teknologi Informasi Universitas Jenderal Achmad Yani, Yogyakarta. Jalan
                Ringroad Barat, Banyuraden, Gamping, Sleman, Yogyakarta</p>
        </div>
        <div class="footer-links">
            <h3>Pranala</h3>
            <ul>
                <li><a href="#">SMA N Madesu</a></li>
                <li><a href="#">IPA</a></li>
                <li><a href="#">IPS</a></li>
                <li><a href="#">Bahasa</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <h3>Ikuti Kami</h3>
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
        </div>
        <div class="footer-contact">
            <h3>SMA Negeri Madesu</h3>
            <p>Jl. Silangkar km 07 Ringroad Barat, Banyuraden, Gamping, Sleman, Yogyakarta</p>
            <p>Phone: +62-251-025-540</p>
            <p>Email: mnd@smadesu.id</p>
        </div>
    </footer>
</body>

</html>