/* home section */

        body {
            font-family: 'Poppins', sans-serif;
        }

        nav {
            background-color: #333;
            color: #fff;
            padding: 15px 0;
        }

        .navbar-brand {
            color: #fff;
            font-size: 24px;
        }

        .navbar-nav .nav-item {
            margin-right: 10px;
        }

        .welcome-section {
            display: flex;
            margin: 50px;
            justify-content: space-between;
            align-items: center;
            border-style: solid;
            padding: 50px;
            background-color: #f0f0f0;
        }

        .welcome-text {
            font-size: 24px;
        }

        .welcome-heading {
            font-size: 48px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .profile-img {
            max-width: 100%;
            height: auto;
        }

        .arrow-btn {
            font-size: 24px;
            color: #333;
            background-color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .section-image {
            text-align: center;
        }

        /* course css */
        .detail-couse {
            display: flex;
            flex-wrap: wrap;
        }
    
        /* recently css */
        